.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 10px;

}

.repairDataWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 25px;


}

.clientData {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 25px;
  border-radius: 10px;
  min-height: 150px;
}

.deviceData {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 25px;
  border-radius: 10px;
  min-height: 150px;

  &Content {
    display: flex;
    flex-direction: row;
  }
}

.previewWrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 25px;
  border-radius: 10px;
  max-height: 180px;
}
.previewData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &Content{
    flex-wrap: wrap;
  }
}

.repairActionsWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  width: 100%;
}

